{% extends 'base.html' %}

{% block content %}
  <!-- <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Confirm credentials</button>
  </form> -->

  <div class="translucent-form-overlay" id="center">
    <h5 class="centertext">Please re-enter your password to continue</h5>
        <hr>
        <form method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button expanded">Confirm Credentials</button>
        </form>
        <a href="/profile" class="button expanded">Cancel</a>
</div>
{% endblock %}