{% extends "base.html" %}
{% load static %}
{% block title %}
Password Reset
{% endblock %}

{% block content %}

    <div class="translucent-form-overlay" id="center">
        <h5 class="centertext">Reset Password</h5>
            <hr>
            <form method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="button expanded">Save changes</button>
            </form>
            <a href="/profile" class="button expanded">Cancel</a>
    </div>
    
{% endblock %}